@keyframes slide-in-top {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}
@keyframes slide-in-bottom {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 0;
    }
}
@keyframes slide-in-left {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
@keyframes slide-in-right {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}